---
import SiteLayout from "../layouts/SiteLayout.astro";
---

<SiteLayout
	title="Dmitry Shkaev"
	description="Personal website of Dmitry Shkaev."
>
	<section class="my-auto max-w-4xl">
		<h1 class="mt-4 text-4xl font-normal tracking-tight text-balance text-stone-950 sm:mt-6 sm:text-5xl md:text-6xl">
			Hey, it's great to meet you! I'm Dima
		</h1>
		<p class="mt-4 max-w-3xl text-base leading-8 text-stone-600 sm:mt-8 sm:text-lg sm:leading-8">
			Here you can find curated collections of the <a
				href="/photography"
				class="text-link"
			>photos</a> I've been taking over the years, as well as some <a
				href="/design"
				class="text-link"
			>highlights</a> of my professional career as a product designer.
		</p>
	</section>
</SiteLayout>
