---
import SiteLayout from "../layouts/SiteLayout.astro";
import PageHero from "../components/sections/PageHero.astro";
---

<SiteLayout
	title="Dmitry Shkaev"
	description="Personal website of Dmitry Shkaev."
>
	<PageHero
		title="Hey, it's great to meet you! I'm Dima"
		class="my-auto max-w-4xl"
	>
		<p class="type-page-lead mt-4 max-w-3xl text-stone-600 sm:mt-8 sm:leading-8">
			Here you can find curated collections of the <a
				href="/photography"
				class="text-link"
			>photos</a> I've been taking over the years, as well as some <a
				href="/design"
				class="text-link"
			>highlights</a> of my professional career as a <a href="/about" class="text-link"
				>product designer</a
			>.
		</p>
	</PageHero>
</SiteLayout>
